.splash {
  height: 88vh;
  margin: auto;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.started {
  padding-bottom: 100px;
}

.App a {
  color: white;
}

.App a:hover {
  text-decoration: none;
}
